@import '../../_variables.scss';

.form-group .form-control {
  color: #fff !important;
  background: none;
  border: 2px solid #fff;
}

.form-group .form-control:active, .form-group .form-control:focus {
  background: none;
}

.reg-section {
  padding-top: 10rem !important;
}

.form-group {
    margin-bottom: 20px;
}

.form-group select option{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 20px;
    background-position: 95%;
    background-color: rgba(6, 58, 149, 0.9);

    padding-right: 30px;
}


/* Add this to your Registration.scss file */
.btn-loading {
  position: relative;
  pointer-events: none; /* Disable interactions while loading */

  &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #fff;
      border-top-color: transparent;
      border-right-color: transparent;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}


.slots-remaining-red {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  padding: 5px;
  border-radius: 5px;

}

.slots-remaining-green {
  color: #fff;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  padding: 5px;
  border-radius: 5px;
}