.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.partner img {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;

  max-height: 70px;
}

.partner p {
  text-align: center;
  font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.gold-border {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
  max-height: 100px !important;
  height: 100px;
}