$bg-color: #000000;
$bg-secondary: #161617;
$bg-ternary: #666666;
$bg-accent: #979797;
$text-color: #ffffff;
$text-secondary: #abb1b4;
$text-accent: #02A8E1;

$blue-grad-start: #54C5F7;
$blue-grad-end: #02A8E1;